
body {
    background-color: #F0EAD2;
    color: #ff206e;
    font-family: 'Roboto Mono',Georgia, Helvetica, sans-serif;    
    margin: 0;
    padding: 0; 
    margin: 0 auto;
    scroll-behavior: smooth;
    
}
header{
    background-color: #ff206e;
    top: 0;
    right: 0;
    width: 100%;
    padding: 1em;
    margin-right: 0;
    margin-bottom: 3em;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left: 1em;  
}
nav li {
    padding: 0 2em;
    overflow: hidden;
    text-align: center;
}
nav a{
    color: white;
    text-decoration: none; 
    padding-bottom: 0.5em;  
}
nav a:hover{
    border-bottom: 3px solid black;
}
img{
    width: 100%;  
}

footer{
    width: 100%;
    bottom: 0;
    background-color: black;
    padding: 1em 1em;
}
form{
    margin: auto;
}
textarea{
    margin-bottom: 1em;
}
span{
    background-color: whitesmoke;
    padding: 1em;
}
/* class elements*/
.icon-image:hover{
    transform: scale(1.2,1.2);
}
.project-content-main{
    display: flex;
}
.project-content-secondary{
    margin: 0 2em;   
}
.footer-content{
    text-align: center;
    font-size: 0.5rem;
}
.container{
    width: 100%;
    max-width: 1000px;
    margin:12em auto;
    text-align: center;
}
.container-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about-me-container{
    display: flex;
}
.about-me-content{
    text-align: left;
    margin-left: 3em;
    margin-bottom: 5em;
    width: 70%;
}
.about-me-photo{
    width: 50%;
    display: flex;
    align-items: center;
}
.skills-container{
    text-align: right;
}
.skills-list{
    display: flex;
    justify-content: flex-end;
}
.skills-item{
    margin-left: 2em;
    
}
.pop-up-contact-form{
    background-color: white;
    width: 100%;
    height: 600px;
    position: absolute;
    display: none; 
}
.input-area{
    width: 100%;
    padding: 1em;
    margin-top: 1em;
}
.icon-image{
    width: 5%;
    margin-bottom: 1.125em;
}
.main-content{
    align-items: center; 
}
.content{
    margin: 3em;
}
.project-image{
    filter: grayscale(100%);
}
.project-image:hover{
    border:3px solid #ff206e ;
    filter: grayscale(0);
}
/* id elements */
#my-form-button,
#close-btn{
    background-color: #ff206e;
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow:6px 6px 25px 2px black;
    padding: 1em 2em;
}
#close-btn{
    display: inline;
    padding: 1em;
}

@media screen and (max-width:700px) {
    .about-me-container{
        flex-direction: column;
        margin: 2em;
    }
    .about-me-photo{
        width: 90%;
        margin: auto;
    }
    .about-me-content{
        text-align: left;
        max-width: 450px;
        margin: auto;
    }
    .container-flex{
        flex-direction: row;
        justify-content: center;
    }
    nav ul {
        flex-direction: column; 
    }
    nav li{
        padding:  .5em 0;  
    } 
    .project-content-main{
        flex-direction: column;  
        margin: 2em;
    } 
    .skills-list{
        flex-direction: column;        
    } 
    .skills-item{
        margin-bottom: 3em;
    }
    
}


#contact-me-btn{
    background-color: #ff206e;
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow:6px 6px 25px 2px black;
    padding: 1em 2em;
    display: block;
    margin: auto;
}

/* =================
typography
================== */
h1{
    color: #226f54; 
    font-size: 2rem;
    font-family: Georgia, Helvetica, sans-serif;
}

p{
    font-size: 1rem;
}
.text-larger{
    font-size: 4rem;
}
@media (max-width:450px){
    p{
        font-size: 1rem;
    }
    h1{
        font-size: 2em;
    }
    .icon-image{
        width: 10%;
    }
    .text-larger{
        font-size: 3rem;
    }
    
}
